doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Pool Queue
        link(rel="stylesheet", href="./css/style.css")
    body 
        form(action="/" method="POST")
            input(type="text")
            input(type="text")
            button(type="submit") 

        div.container
            //- Test divs, will create items from loop, interpolation
            div.item 
            div.item 
            div.item
            div.item 
            div.item 
            div.item 
            div.item 
            div.item 
            div.item 
            div.item 
